
div {
    text-align: center;
    margin: 1em;
}

li {
    border-bottom: 1px solid #abb5fd;
    margin-top: 1em;
}

li > ul {
    border-top: 1px solid #abb5fd;
}

li > ul > li:last-child {
    border: none;
}

ul {
    list-style: none;
    font-size: 20px;
    padding-right: 1em;
}
